<!DOCTYPE html>
{%load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}">
</head>

<body>
    
    <h1>hello ji code succedfull</h1>
    <img src="{% static 'images/gaurav.jpg' %}" alt="loading">

    <h1>{{msg}}</h1>
    <a href="/more">no more</a>

   
    <h1>hello ji code succedfull now are more about page</h1>

   


</body>

</html>