<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container{
            width: 400px;
            height: 400px;
            border: 2px solid red;
        }
    </style>
</head>
<body>
    {% if list_info %}
    {% for items in list_info %}
    <div class="container">
        <h3>{{items.name}}</h3>
        <p>{{items.about}}</p>
    </div>
    {% endfor %}
    {% else %}
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Est, tenetur!</p>
    {% endif %}

</body>
</html>